/*@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&family=Source+Sans+Pro:wght@300&display=swap');
*/

/*@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&family=Source+Serif+Pro:wght@600&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@600&family=Source+Serif+Pro:wght@600&display=swap');



body {
font-family: "Source serif pro", sans-serif;
color: red;



}

/*--------------------------------------------------------------------------------Navigation Bar */

.logo {
    font-family: "Big Shoulders Stencil Text" , sans-serif;
    letter-spacing: 2px;
}

a {
  font-size: 21px;
}

/*--------------------------------------------------------------------------------Index Page */

.lead {
    font-size: 20px;
    margin-top: 20px;
}

.index-head {
    font-family: "Big Shoulders Stencil Text" , sans-serif;
    letter-spacing: 5px;
}

.index-pic {
    width: 100%;
    height: 250px;
}

ul {
    list-style-type: square;
    line-height:25px;
}

.jumbotron-container {
    background: url(../images/school-bg.jpg) no-repeat center center;
    background-size: cover;
    color: #000000;
    margin-top: 0;
   
} 

.text-background {
    background-color:  rgba(255,255,255, 0.8);
    padding: 8px;
}

.carousel-item {
    height: 19rem;
     
}


.alert {
    text-align: center;
    text-decoration: underline;
}

.footer{
    
    line-height: 75px;
}

.heading{
    text-align: center;
}

.current{
    text-decoration: underline;
}

.head {
    text-align: center;
    margin: 50px 0;
}

.students {
    width: 150x;
    height: 145px;
    border-radius: 50%;
}

.feedback {
    margin-top: 50px;
}

/*--------------------------------------------------------------------------------Teachers Page */

.matt {
    height: 300px;
    width: 625px;
    overflow-x: hidden;

    padding: 0;
    margin: 0;

    }

.matt-hover{
    height: 300px;
    width: 625px;
   overflow-x: hidden;
}

.matt-diff {
    max-width: 100%;
    height: auto;

   
}

.danny {
     height: 300px;
     width: 625px;
     overflow-x: hidden;

     padding: 0;
     margin: 0;
}

.danny-hover {
     height: 300px;
     width: 625px;
     overflow-x: hidden;
}

.danny-diff {
    max-width: 100%;
    height: auto;
}

.samantha {
     height: 300px;
     width: 625px;
    overflow-x: hidden;

    padding: 0;
     margin: 0;
    }

    .sam-hover {
    height: 300px;
     width: 625px;
    overflow-x: hidden;
    }

    .sam-diff {
        max-width: 100%;
        height: auto;
    }

    .jimmy {
     height: 300px;
     width: 625px;
     overflow-x: hidden;

     padding: 0;
     margin: 0;
    }

    .jimmy-hover{
        height: 300px;
        width: 625px;
        overflow-x: hidden;
    }

    .jimmy-diff {
        max-width: 100%;
        height: auto;
    }

    .tony {
     height: 300px;
     width: 625px;
     overflow-x: hidden;

     padding: 0;
     margin: 0;
    }

    .tony-hover {
        height: 300px;
     width: 625px;
     overflow-x: hidden;
    }

    .tony-diff {
        max-width: 100%;
        height: auto;
    }


    .fade-in {
       animation: fadeIn ease 1.5s;
    }

    @keyframes fadeIn {
       0% {
           opacity:0;
        }
       100% {
           opacity:1;
        }
    }


.bio{
    overflow-x: hidden;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}


.social a i{
    font-size: 45px;
    display: flex;
    justify-content: space-between;
}

.staff {
    margin-bottom: 5rem;
    
}

/*--------------------------------------------------------------------------------Lessons Page */

.lessons {
    font-family: "Big Shoulders Stencil Text" , sans-serif;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem; 
}

.patterns {
    margin-bottom: 100px;
}

.point {
    font-size: 21px;
}

footer h5 {
    font-family: "Big Shoulders Stencil Text";
    font-size: 30px;
}

.embed {
    margin-bottom: 40px;
}


/*--------------------------------------------------------------------------------Contact Page */


.contact {
    margin-top: 6rem;
}

.contact-image {
    background-color: blue;
}

.address {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.form-control{
    width: 50%;
    
}

.center {
    text-align: center;
}

.whole-form{
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    
}


.form-group{
     text-align: center;
}

.form-control{
    text-align: center;
    margin: 0 auto;
}

.enroll-info {
    text-align: center;
    margin-bottom: 25px;
}




/*--------------------------------------------------------------------------------Contact Page */

.contact {
    padding-top: 25px;
    background-color: greenyellow;
}