@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@600&family=Source+Serif+Pro&display=swap");



body {
    font-family: "Source serif pro", sans-serif;
    color: #000;
}

/*--------------------------------------------------------------------------------Navigation Bar */

.logo {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    letter-spacing: 2px;
  
 
}

nav a {
    font-size: 22px;
  
}

.navbar {
    background-color:  #14213D;
    }

.current {
    text-decoration: underline;
    
}

.navbar-toggler {
    color: #fff;
    font-size: 30px;
}
/*--------------------------------------------------------------------------------Index Page */


.lead {
    font-size: 20px;
    margin-top: 0px;
}

.index-title {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    letter-spacing: 3px;
    font-size: 55px;
    padding:40px;
   color: #FCA311;
   margin: 0;
}

.index-pic {
    width: 100%;
    height: 250px;
}

ul {
    list-style-type: square;
    line-height: 25px;
}

.jumbotron-container {
    background: url(../images/school-bg.jpg) no-repeat center center;
    background-size: cover;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
}


.text-background {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 8px;
    border-radius: 15px;
}

.carousel-item {
    height: 19rem;
}

.carousel-inner {
    height: 378px;
}

.carousel-text {
   margin-top: 30px;
   color: #000;
}

.students {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.blockquote-footer {
    margin-top: 10px;
    color: #000;
}

.alert {
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
    border-radius: 0px;
    text-transform: uppercase;
}

.footer {
    line-height: 75px;
}

.heading {
    text-align: center;
}

/*.current {
    text-decoration: underline;
}

.head {
    text-align: left;
    margin: 0;
}*/



.feedback {
    margin-top: 0px;
}

.feedback-container {
    background: url(../images/school-bg.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 15px;
    margin-top: 0px;
    font-size: 30px;
}

.feedback-text {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 25px;
    border-radius: 15px;
}

.sticks {
    width: 100%;
    border-radius: 15px;
    padding-bottom: 6px;
}


/*--------------------------------------------------------------------------------Teachers Page */

.teachers-container {
    background: url(../images/teachers-bg2.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 0px;
    font-size: 18px;
   
}

.teachers-text {
    background-color: rgba(255, 255, 255, 0.85);
    
    border-radius: 0px;
    padding: 20px;
}

.matt {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.matt-hover {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
}

.matt-diff {
    max-width: 100%;
    height: auto;
}

.danny {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.danny-hover {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
}

.danny-diff {
    max-width: 100%;
    height: auto;
}

.samantha {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.sam-hover {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
}

.sam-diff {
    max-width: 100%;
    height: auto;
}

.jimmy {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.jimmy-hover {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
}

.jimmy-diff {
    max-width: 100%;
    height: auto;
}

.tony {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.tony-hover {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
}

.tony-diff {
    max-width: 100%;
    height: auto;
}

.fade-in {
    animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bio {
    overflow-x: hidden;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 20px;
    color: #000;
}

.bio h3 {
    color:  #FCA311;
}

/*.bio h3  {
    color: #cc3300;
}
*/


.staff {
    margin-bottom: 0;

}


/*--------------------------------------------------------------------------------Lessons Page */

.lessons {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    text-align: center;
    margin: 0;
    padding: 40px;
    font-size: 45px;
    letter-spacing: 3px;
    color: #FCA311;
}

.lessons-container {
    background: url(../images/school-bg.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 0px;
    font-size: 18px;
    padding: 0px;
    
}

.lessons-text {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 0;
}

.patterns {
    margin-bottom: 100px;
}

.point {
    font-size: 21px;
}

footer h5 {
    font-family: "Big Shoulders Stencil Text";
    font-size: 30px;
}

.embed {
    margin-bottom: 40px;
}

/*--------------------------------------------------------------------------------Contact Page */

.contact {
    margin-top: 6rem;
}

.contact-image {
    background-color: blue;
}

.address {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.form-control {
    width: 50%;
}

.center {
    text-align: center;
}

.whole-form {
    text-align: center;
    border-radius: 0px;
}

.form-group {
    text-align: center;
}

.form-control {
    text-align: center;
    margin: 0 auto;
}

.enroll-info {
    text-align: center;
    margin-bottom: 25px;
}

.contact-container {
    background: url(../images/school-bg.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 0px;
    padding: 0px;

    
    
}

.contact-text {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    margin: 0;
    border-radius: 0px;
   
     font-size: 18px;
}

/* .index-title-all {
    padding-top: 0px;
    font-size: 65px;
    font-family: "Big Shoulders Stencil Text", sans-serif;
    letter-spacing: 3.5px;
    border-bottom: 0.1px solid #444;
    text-align: left;
    margin: 0;

}*/

.location-container {
    background: url(../images/location3.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 0px;
    font-size: 18px;
    padding: 0px;
    border-radius: 0;
}

.location-text {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 0px;
    border-radius: 0px;
}

.street-view {
    background: url(../images/contact-loc.jpg) no-repeat center center;
    height: 100%;
    border-radius: 15px;
    position: relative;
}

.sv-bg {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    border: 5px solid #000;
    position: relative;
}

.add-border {
    height: 61%;
    width: 50%;
    color: #f5f4f2;
    background-color: rgba(0, 0, 0, 0.77);
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    border: 3px solid #000;
    border-radius: 15px;
}

.mobile-border {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    color: #f5f4f2;
    border-radius: 15px;
    padding-top: 30px;
}

iframe {
    border-radius: 15px;
}

/*--------------------------------------------------------------------------------Buttons */

.btn {
    color: #FFF;
    background-color: #FCA311;
    text-decoration: none;
    padding: 8px 30px;
    transition-duration: 0.1s;
    transition: 0.1s ease-in-out;
   
    border-radius: 25px;
}

.btn:hover {
    background-color: #FCA311;
    color: #14213D;
    
    transform: scale(1.05);
}

.btn-close {
    float: right;
}

/*--------------------------------------------------------------------------------Footer */

.contact {
    padding-top: 25px;
    background-color: #14213D;
    color: #FFF;
    margin-top: 0px;
}

.footer-email {
    text-decoration: none;
    color: #FFF;
    transition-duration: 0.5s;
    border-radius: 5px;
}

.footer-email:hover {
    text-decoration: underline;
    color: #FFF;
}


.social a i {
    font-size: 50px;
    color: #FFF;
    

}

.copyright {
    text-align: center;
    color: #FFF;
}
/*--------------------------------------------------------------------------------Media Queries */

@media only screen and (max-width: 990px) {
    .students {
        height: 155px;
        width: 155px;
        border-radius: 50%;
    }
    .carousel-text {
        font-size: 18px;
    }

    .index-title-all {
        font-size: 40px;
    }
}

/*--------------------------------------------------------------------------------Multiple Pages */

.index-title-all {
    padding: 40px;
   
   
    font-size: 55px;
    font-family: "Big Shoulders Stencil Text", sans-serif;
    letter-spacing: 3px;
   color: #FCA311;
  
    margin: 0;
    text-align: center;
}