.carousel-item {
    height: 16rem;
    background: pink;
}

.alert {
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
}

.footer{
    
    line-height: 75px;
}

.heading{
    text-align: center;
}

.current{
    text-decoration: underline;
}

.head {
    text-align: center;
    margin: 50px 0;
}

.matt {
    height: 300px;
    width: 625px;
   overflow-x: hidden;
    }

.danny {
     height: 300px;
     width: 625px;
     overflow-x:hidden;
}

.samantha {
     height: 300px;
     width: 625px;
    overflow-x: hidden;

.jimmy {
    height: 300px;
     width: 625px;
    overflow-x: hidden;
}

    .tony {
     height: 300px;
     width: 625px;
   overflow-x: hidden;
}

.enroll-info {
    text-align: center;
    margin-bottom: 25px;
  
}

.bio{
    overflow-x: hidden;
}
