.carousel-item {
    height: 16rem;
    background: pink;
}

.alert {
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
}

.footer{
    
    line-height: 75px;
}

.heading{
    text-align: center;
}

.current{
    text-decoration: underline;
}

.teachers-head{
    text-align: center;
    margin: 50px 0;
}

.matt {
    height: 350px;
    width: 725px;
    }

.danny {
     height: 350px;
     width: 725px;
}

.samantha {
     height: 350px;
     width: 725px;
}

.jimmy {
    height: 350px;
    width: 725px;
}

.tony {
     height: 350px;
     width: 725px;
}