@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@600&family=Source+Serif+Pro&display=swap');


body {
font-family: "Source serif pro", sans-serif;
color: #000000;
}


/*--------------------------------------------------------------------------------Navigation Bar */

.logo {
    font-family: "Big Shoulders Stencil Text" , sans-serif;
    letter-spacing: 2px;
}

a {
  font-size: 21px;
}

nav {
    background-color: #f5f4f2;
}


/*--------------------------------------------------------------------------------Index Page */

.lead {
    font-size: 20px;
    margin-top: 20px;
}

.index-head {
    font-family: "Big Shoulders Stencil Text" , sans-serif;
    letter-spacing: 5px;
}

.index-pic {
    width: 100%;
    height: 250px;
}

ul {
    list-style-type: square;
    line-height:25px;
}

.jumbotron-container {
    background: url(../images/school-bg.jpg) no-repeat center center;
    background-size: cover;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
} 

.text-background {
    background-color:  rgba(255,255,255, 0.9);
    padding: 8px;
    border-radius: 15px;
}

.carousel-item {
    height: 19rem;
     
}

.carousel-inner {
    height: 378px;
}

.alert {
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    margin-bottom: 0;
    
}

.footer{
    
    line-height: 75px;
}

.heading{
    text-align: center;
}

.current{
    text-decoration: underline;
}

.head {
    text-align: center;
    margin: 50px 0;
}

.students {
    width: 150x;
    height: 145px;
    border-radius: 50%;
}

.feedback {
    margin-top: 0px;
}

.feedback-container {
     background: url(../images/school-bg.jpg) no-repeat center center;
     background-size: cover;
     border-radius: 15px;
     margin-top: 0px;
     font-size: 30px;
}

.feedback-text {
     background-color:  rgba(255,255,255, 0.9);
     padding: 25px;
     border-radius: 15px;
}

/*--------------------------------------------------------------------------------Teachers Page */

.teachers-container {
     background: url(../images/teachers-bg2.jpg) no-repeat center center;
     background-size: cover;
     margin-top: 0px;
     font-size: 18px;
     padding-top: 50px;
     padding-bottom: 50px;
}

.teachers-text {
     background-color:  rgba(255,255,255, 0.9);
     padding: 25px;
     border-radius: 15px;
}

.matt {
    height: 300px;
    width: 625px;
    overflow-x: hidden;

    padding: 0;
    margin: 0;

    }

.matt-hover{
    height: 300px;
    width: 625px;
   overflow-x: hidden;
}

.matt-diff {
    max-width: 100%;
    height: auto;

   
}

.danny {
     height: 300px;
     width: 625px;
     overflow-x: hidden;

     padding: 0;
     margin: 0;
}

.danny-hover {
     height: 300px;
     width: 625px;
     overflow-x: hidden;
}

.danny-diff {
    max-width: 100%;
    height: auto;
}

.samantha {
     height: 300px;
     width: 625px;
    overflow-x: hidden;

    padding: 0;
     margin: 0;
    }

    .sam-hover {
    height: 300px;
     width: 625px;
    overflow-x: hidden;
    }

    .sam-diff {
        max-width: 100%;
        height: auto;
    }

    .jimmy {
     height: 300px;
     width: 625px;
     overflow-x: hidden;

     padding: 0;
     margin: 0;
    }

    .jimmy-hover{
        height: 300px;
        width: 625px;
        overflow-x: hidden;
    }

    .jimmy-diff {
        max-width: 100%;
        height: auto;
    }

    .tony {
     height: 300px;
     width: 625px;
     overflow-x: hidden;

     padding: 0;
     margin: 0;
    }

    .tony-hover {
        height: 300px;
     width: 625px;
     overflow-x: hidden;
    }

    .tony-diff {
        max-width: 100%;
        height: auto;
    }


    .fade-in {
       animation: fadeIn ease 1.5s;
    }

    @keyframes fadeIn {
       0% {
           opacity:0;
        }
       100% {
           opacity:1;
        }
    }


.bio{
    overflow-x: hidden;
    margin-bottom: 20px;
    text-align: center;
}


.social a i{
    font-size: 45px;
    display: flex;
    justify-content: space-between;
}

.staff {
    margin-bottom: 5rem;
    
}

/*--------------------------------------------------------------------------------Lessons Page */

.lessons {
    font-family: "Big Shoulders Stencil Text" , sans-serif;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem; 
    font-size: 40px;
}

.lessons-container {
    background: url(../images/school-bg.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 0px;
    font-size: 18px;
    padding: 50px;
}

.lessons-text {
     background-color:  rgba(255,255,255, 0.85);
     padding: 25px;
     border-radius: 15px;
}

.patterns {
    margin-bottom: 100px;
}

.point {
    font-size: 21px;
}

footer h5 {
    font-family: "Big Shoulders Stencil Text";
    font-size: 30px;
}

.embed {
    margin-bottom: 40px;
}


/*--------------------------------------------------------------------------------Contact Page */


.contact {
    margin-top: 6rem;
}

.contact-image {
    background-color: blue;
}

.address {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.form-control{
    width: 50%;
    
}

.center {
    text-align: center;
}

.whole-form{
    text-align: center;
    border-radius: 15px;
    
}


.form-group{
     text-align: center;
}

.form-control{
    text-align: center;
    margin: 0 auto;
}

.enroll-info {
    text-align: center;
    margin-bottom: 25px;
}


.contact {
    padding-top: 25px;
    background-color: #f5f4f2;
    margin-top: 1px;
}

.contact-container {
    background: url(../images/school-bg.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 0px;
    font-size: 18px;
    padding: 50px;
}

.contact-text {
     background-color:  rgba(255,255,255, 0.95);
     padding: 10px;
     border-radius: 15px;
}

.index-head2 {
    font-size: 50px;
    font-family: "Big Shoulders Stencil Text" , sans-serif;
    letter-spacing: 2px;
}

.location-container {
    background: url(../images/location3.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 0px;
    font-size: 18px;
    padding: 50px;
}

.location-text {
     background-color:  rgba(255,255,255, 0.95);
     padding: 10px;
     border-radius: 15px;
}

.street-view {
    background: url(../images/contact-loc.jpg) no-repeat center center;
    height: 100%;
    border-radius: 15px;
    position: relative;
}

.sv-bg {
    background-color:  rgba(255,255,255, 0.4);
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    border: 5px solid #000;
    position: relative;
    }

.add-border {
     height: 61%;
     width: 50%;
     color: #f5f4f2;
     background-color: rgba(0,0,0, 0.77);
     position: absolute;
     top: 25%;
     bottom: 25%;
     left: 25%;
     right: 25%;
     border: 3px solid #000;
     border-Radius: 15px;
} 

.mobile-border {
    height: 100%;
    Width: 100%;
    background-color: rgba(0,0,0, 0.75);
    color: #f5f4f2;
    border-radius: 15px;
    padding-top: 30px;
}

iframe {
    border-radius: 15px;
}

