@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&family=Source+Sans+Pro:wght@300&display=swap');

body {
font-family: "Source Sans Pro", sans-serif;
}

.logo {
    font-family: "Big Shoulders Stencil Text" , sans-serif;
    letter-spacing: 2px;
}

a {
  font-size: 21px;
}



.index-head {
    font-family: "Big Shoulders Stencil Text" , sans-serif;
    letter-spacing: 5px;
}

.carousel-item {
    height: 19rem;
     
}


.alert {
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
}

.footer{
    
    line-height: 75px;
}

.heading{
    text-align: center;
}

.current{
    text-decoration: underline;
}

.head {
    text-align: center;
    margin: 50px 0;
}

.students {
    width: 150x;
    height: 145px;
    border-radius: 50%;
}

.matt {
    height: 300px;
    width: 625px;
   overflow-x: hidden;

   padding: 0;
     margin: 0;
    }

.matt-hover{
    height: 300px;
    width: 625px;
   overflow-x: hidden;
}

.matt-diff {
    max-width: 100%;
    height: auto;
}

.danny {
     height: 300px;
     width: 625px;
     overflow-x: hidden;

     padding: 0;
     margin: 0;
}

.danny-hover {
     height: 300px;
     width: 625px;
     overflow-x: hidden;
}

.danny-diff {
    max-width: 100%;
    height: auto;
}

.samantha {
     height: 300px;
     width: 625px;
    overflow-x: hidden;

    padding: 0;
     margin: 0;
    }

    .sam-hover {
    height: 300px;
     width: 625px;
    overflow-x: hidden;
    }

    .sam-diff {
        max-width: 100%;
        height: auto;
    }

    .jimmy {
     height: 300px;
     width: 625px;
     overflow-x: hidden;

     padding: 0;
     margin: 0;
    }

    .jimmy-hover{
        height: 300px;
        width: 625px;
        overflow-x: hidden;
    }

    .jimmy-diff {
        max-width: 100%;
        height: auto;
    }

    .tony {
     height: 300px;
     width: 625px;
     overflow-x: hidden;

     padding: 0;
     margin: 0;
    }

    .tony-hover {
        height: 300px;
     width: 625px;
     overflow-x: hidden;
    }

    .tony-diff {
        max-width: 100%;
        height: auto;
    }

.enroll-info {
    text-align: center;
    margin-bottom: 25px;
  
}

.bio{
    overflow-x: hidden;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.social a i{
    font-size: 45px;
    display: flex;
    justify-content: space-between;
}

.staff {
    margin-bottom: 5rem;
    
}

.lessons {
    font-family: "Big Shoulders Stencil Text" , sans-serif;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem; 
}

.point {
    font-size: 21px;
}

footer h5 {
    font-family: "Big Shoulders Stencil Text";
    font-size: 30px;
}



.contact {
    margin-top: 6rem;
}

.address {
    text-align: center;
    font-size: 1.5rem;
}

.form-control{
    width: 50%;
    
}

.center {
    text-align: center;
}