@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@600&family=Source+Serif+Pro&display=swap");

body {
    font-family: "Source serif pro", sans-serif;
    color: #000;
    font-size: 18px;
}

/*--------------------------------------------------------------------------------Navigation Bar */

.logo {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    letter-spacing: 2px;
}




nav a {
    font-size: 19px;
    
}

nav .navbar-nav li a {
    color: #fff !important;
}

nav .navbar-nav li a:hover {
    color: #B7B7B7 !important;
}

nav .navbar h2 .logo {
    color: #fff !important;
}

.navbar {
    background-color: #14213d;
    
}

.current {
    text-decoration: underline;
}

.navbar-toggler {
    color: #fff !important;
    font-size: 30px;
}
/*--------------------------------------------------------------------------------Index Page */

.index-title {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    letter-spacing: 3px;
    font-size: 55px;
    padding: 40px;
    color: #fca311;
    margin: 0;
}

.index-pic {
    width: 100%;
    height: 250px;
}

ul {
    list-style-type: square;
    line-height: 25px;
}

.jumbotron-container {
    background: url(../images/school-bg.jpg) no-repeat center center;
    background-size: cover;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
}

.jumbotron-image {
    border-radius: 15px;
    height: 200px;
    width: 400px;
    margin-bottom: 40px;
}

.text-background {
    background-color: rgba(255, 255, 255, 0.99);
    padding: 20px;
    border-radius: 15px;
}

.carousel-item {
    height: 19rem;
}

.carousel-inner {
    height: 378px;
}

.carousel-text {
    margin-top: 30px;
    color: #000;
    font-size: 18px;
}

.students {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    
}

.fit{
    object-fit: cover;
}

.blockquote-footer {
    margin-top: 10px;
    color: #000;
}

.alert {
    text-align: center;
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0px;
    text-transform: uppercase;
}

.heading {
    text-align: center;
}

.feedback {
    margin-top: 0px;
}

.feedback-text {
    background-color: #fca311;
    padding: 25px;
}

.sticks {
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
}

/*--------------------------------------------------------------------------------Teachers Page */

.teachers-container {
    background: url(../images/teachers-bg2.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 0px;
    font-size: 18px;
}

.teachers-text {
    background-color: rgba(255, 255, 255, 0.99);
    padding: 20px 20px 8px 20px;
}

.matt {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    padding: 0;
    margin: 0 0 0 64px;
    border-radius: 15px;
    border: 1px solid #fca311;

}

.matt-hover {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    margin: 0 0 0 64px;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.matt-diff {
    max-width: 100%;
    height: auto;
}

.danny {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    padding: 0;
    margin: 0 60px 0 0;
    border-radius: 15px;
    border: 1px solid #fca311;

}

.danny-hover {
    height: 300px;
    width: 625px;
    margin: 0 60px 0 0;
    overflow-x: hidden;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.danny-diff {
    max-width: 100%;
    height: auto;
}

.samantha {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    margin: 0 0 0 64px;
    padding: 0;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.sam-hover {
    height: 300px;
    width: 625px;
    margin: 0 0 0 64px;
    overflow-x: hidden;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.sam-diff {
    max-width: 100%;
    height: auto;
}

.jimmy {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    margin: 0 60px 0 0;
    padding: 0;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.jimmy-hover {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    margin: 0 60px 0 0;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.jimmy-diff {
    max-width: 100%;
    height: auto;
}

.tony {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    padding: 0;
    margin: 0 0 0 64px;
    border-radius: 15px;
    border: 1px solid #fca311;
 
}

.tony-hover {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    margin: 0 0 0 64px;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.tony-diff {
    max-width: 100%;
    height: auto;
}

.fade-in {
    animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bio {
    overflow-x: hidden;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 20px;
    color: #000;
    font-size: 18px;
    text-align: left;
}

.bio-text-right {
    overflow-x: hidden;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 20px;
    color: #000;
    font-size: 18px;
    text-align: right;
}

.bio h3 {
    color: #fca311;
    font-size: 35px;
}

.bio-text-right h3 {
    color: #fca311;
    font-size: 35px;
}

.staff {
    margin-bottom: 40px;
}

/*--------------------------------------------------------------------------------Lessons Page */

.lessons {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 45px;
    letter-spacing: 3px;
    color: #fca311;
}

.lessons-container {
    background: url(../images/school-bg.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 0px;
    font-size: 18px;
    padding: 0px;
}

.embed {
    margin-bottom: 40px;
}

.lessons-text {
    background-color: rgba(255, 255, 255, 0.99);
    padding: 20px;
    border-radius: 0;
}

footer h5 {
    font-family: "Big Shoulders Stencil Text";
    font-size: 30px;
}

.embed {
    margin-top: 10px;
}

/*--------------------------------------------------------------------------------Contact Page */

.contact {
    margin-top: 6rem;
}

.address {
    text-align: center;
    font-size: 40px;
    color: #14213d;
    padding-bottom: 40px;
}

.form-control {
    width: 50%;
}

.whole-form {
    text-align: center;
    border-radius: 0px;
}

.form-group {
    font-size: 18px;
}

.form-check-label {
    font-size: 18px;
}

.form-control {
    text-align: center;
    margin: 0 auto;
}

.enroll-info {
    text-align: center;
    margin-bottom: 25px;
}

.contact-container {
    background: url(../images/school-bg.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 0px;
    padding: 0px;
}

.contact-text {
    background-color: rgba(255, 255, 255, 0.99);
    padding: 20px;
    margin: 0;
    border-radius: 0px;
    font-size: 18px;
}

.location-heading {
    padding: 40px;

    font-size: 55px;
    font-family: "Big Shoulders Stencil Text", sans-serif;
    letter-spacing: 3px;
    color: #14213d;
    margin: 0;
    text-align: center;
}

.location-text {
    padding: 00px;

    background-color: #fca311;
}

.sv-bg {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    border: 5px solid #000;
    position: relative;
}

.add-border {
    height: 61%;
    width: 50%;
    color: #f5f4f2;
    background-color: rgba(0, 0, 0, 0.77);
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    border: 3px solid #000;
    border-radius: 15px;
}

.mobile-border {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    color: #f5f4f2;
    border-radius: 15px;
    padding-top: 30px;
}

iframe {
    border-radius: 15px;
}

/*--------------------------------------------------------------------------------Buttons */

.btn {
    color: #fff;
    background-color: #fca311;
    text-decoration: none;
    padding: 8px 30px;
    transition-duration: 0.1s;
    transition: 0.1s ease-in-out;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
}

.btn:hover {
    background-color: #fca311;
    color: #fff;
    transform: scale(1.05);
}

.btn-close {
    float: right;
}

/*--------------------------------------------------------------------------------Footer */

.contact {
    padding-top: 20px;
    background-color: #14213d;
    color: #fff;
    margin-top: 0px;
}

.footer-email {
    text-decoration: none;
    color: #fff;
}

.footer-email:hover {
    text-decoration: none;
    color: #fca311;
}

.footer-heading {
    padding-bottom: 5px;
    padding-top: 5px;
}

.social a i {
    font-size: 50px;
    color: #fff;
    padding-bottom: 10px;
    padding-right: 5px;
}

.social-links:hover {
    color: #fca311;
}

.copyright {
    text-align: center;
    color: #fff;
    padding-top: 20px;
}

.footer {
    line-height: 55px;
}

footer {
    text-align: center;
}

/*--------------------------------------------------------------------------------Media Queries */

@media only screen and (max-width: 990px) {
    .students {
        height: 155px;
        width: 155px;
        border-radius: 50%;
    }
    .carousel-text {
        font-size: 18px;
    }

    .index-title-all {
        font-size: 40px;
    }

    .address {
        font-size: 35px;
    }

    .matt {
        margin: 0;
    }

    .matt-hover {
        margin: 0;
    }

    .samantha {
        margin: 0;
    }

    .sam-hover {
        margin: 0;
    }
    .danny {
        margin: 0;
    }

    .danny-hover {
        margin: 0;
    }

    .jimmy {
        margin: 0;
    }

    .jimmy-hover {
        margin: 0;
    }

    .tony {
        margin: 0;
    }

    .tony-hover {
        margin: 0;
    }

    .bio {
        text-align: center;
    }

    .bio-text-right {
        text-align: center;
    }

    .bio h3 {
        text-align: center;
    }

    .bio-text-right h3 {
        text-align: center;
    }
}

@media only screen and (max-width: 360px) {
    .logo {
       letter-spacing: 1px;
    }

    .address {
        margin-bottom: 40px;
        font-size: 35px;
    }
}

@media only screen and (max-width: 320px) {
    .logo {
      letter-spacing: 0.1px;
    }

  
}

@media only screen and (max-width: 280px) {
    .logo{
        letter-spacing: 0;
        
    }
    .navbar-toggler {
    color: #fff;
    font-size: 10px;
}
    
}
@media only screen and (max-width: 550px){
.jumbotron-container {
    background: #FFF;
    background-size: cover;
    color: #000;
    margin-top: 0;   
    margin-bottom: 0;
}



.text-background {
    background-color: rgba(255, 255, 255, 0.99);
    padding: 5px;
    border-radius: 15px;
    border: 2px solid rgba(252, 163, 17, 0.5);
    text-align: left;
}

}


@media only screen and (min-width: 768px) and (max-width: 1366px) {
.matt {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    padding: 0;
    margin: 23px 0 0 15px;
    border-radius: 15px;
    border: 1px solid #fca311;

}

.matt-hover {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    margin: 23px 0 0 15px;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.matt-diff {
    max-width: 100%;
    height: auto;
}

.danny {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    padding: 0;
    margin: 7px 60px 0 0;
    border-radius: 15px;
    border: 1px solid #fca311;

}

.danny-hover {
    height: 300px;
    width: 625px;
    margin: 7px 60px 0 0;
    overflow-x: hidden;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.danny-diff {
    max-width: 100%;
    height: auto;
}

.ipad {
     
    overflow-x: hidden;
    margin-bottom: 0px;
    text-align: right;
    padding-top: 0px;
    color: #000;
    font-size: 18px;
    }

.ipad h3 {
    text-align: right;
}

.ipad-right {
text-align: left;
}

.ipad-right h3 {
    text-align: left;
}

.samantha {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    margin: 23px 0 0 15px;
    padding: 0;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.sam-hover {
    height: 300px;
    width: 625px;
    margin: 23px 0 0 15px;
    overflow-x: hidden;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.sam-diff {
    max-width: 100%;
    height: auto;
}

.jimmy {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    margin: 7px 60px 0 0;
    padding: 0;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.jimmy-hover {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    margin: 7px 60px 0 0;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.jimmy-diff {
    max-width: 100%;
    height: auto;
}


.tony {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    padding: 0;
    margin: 23px 0 0 15px;
    border-radius: 15px;
    border: 1px solid #fca311;
 
}

.tony-hover {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    margin: 23px 0 0 15px;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.tony-diff {
    max-width: 100%;
    height: auto;
}
}


@media only screen and (max-width: 1400px) {
    .jumbotron-image {
        display: none;
    }
}


@media only screen and (min-width: 1366px) {
.matt {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    padding: 0;
    margin: 0 0 0 68px;
    border-radius: 15px;
    border: 1px solid #fca311;

}

.matt-hover {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    margin: 0 0 0 68px;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.matt-diff {
    max-width: 100%;
    height: auto;
}

.samantha {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    margin: 0 0 0 68px;
    padding: 0;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.sam-hover {
    height: 300px;
    width: 625px;
    margin: 0 0 0 68px;
    overflow-x: hidden;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.sam-diff {
    max-width: 100%;
    height: auto;
}

.tony {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    padding: 0;
    margin: 0 0 0 68px;
    border-radius: 15px;
    border: 1px solid #fca311;
 
}

.tony-hover {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    margin: 0 0 0 68px;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.tony-diff {
    max-width: 100%;
    height: auto;
}
}

@media only screen and (min-width: 1800px) {
    .matt {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    padding: 0;
    margin: 0 0 0 100px;
    border-radius: 15px;
    border: 1px solid #fca311;

}

.matt-hover {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    margin: 0 0 0 100px;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.matt-diff {
    max-width: 100%;
    height: auto;
}

.samantha {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    margin: 0 0 0 100px;
    padding: 0;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.sam-hover {
    height: 300px;
    width: 625px;
    margin: 0 0 0 100px;
    overflow-x: hidden;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.sam-diff {
    max-width: 100%;
    height: auto;
}

.tony {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    padding: 0;
    margin: 0 0 0 100px;
    border-radius: 15px;
    border: 1px solid #fca311;
 
}

.tony-hover {
    height: 300px;
    width: 625px;
    overflow-x: hidden;
    margin: 0 0 0 100px;
    border-radius: 15px;
    border: 1px solid #fca311;
}

.tony-diff {
    max-width: 100%;
    height: auto;
}
}


/*--------------------------------------------------------------------------------Multiple Pages */

.index-title-all {
    padding: 40px;
    font-size: 55px;
    font-family: "Big Shoulders Stencil Text", sans-serif;
    letter-spacing: 3px;
    color: #fca311;
    text-align: center;
}

.center {
    text-align: center;
}

.lead {
    font-size: 18px;
}

